

@{
    ViewBag.Title = "Home Page";
}
<head>
    @Styles.Render("~/Content/Content.css")
</head>
<body>
    <div class="row">
        <div class="col-sm-4">
            <div id="picture"><img src="~/Content/Images/2.png" /></div>
            <h3>Header</h3>
            <p>auto: Allows the browser to determine whether justification is better handled as inter-word or inter-character. This can be helpful in multi-lingual scenarios where the content language is unknown until rendered, allowing the browser user agent to choose accordingly based on which method better fits the language context.</p>
        </div>
        <div class="col-sm-4">
            <h3>header</h3>
        </div>
        <div class="col-sm-4">
            <h3>header</h3>
        </div>
    </div>
</body>
