

@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Категории:</h3>

    <table>
        @foreach (string c in ViewBag.Users)
        {
            <tr>
               <td><p>@c.ToString()</p></td> 
            </tr>
        }
    </table>
</div>