

@{
    ViewBag.Title = "Home Page";
}
<head>
    @Styles.Render("~/Content/Content.css")
</head>
<body>
    <div class="row">
        <div class="col-sm-4" style="background:url('../../Content/Images/test/overwatch_tracer_blizzard_entertainment_109504_2560x1080.jpg'); background-size:cover; background-position:center">
            <div id="Header"><h3>Header</h3></div>
            <p>auto: Allows the browser to determine whether justification is better handled as inter-word or inter-character. This can be helpful in multi-lingual scenarios where the content language is unknown until rendered, allowing the browser user agent to choose accordingly based on which method better fits the language context.</p>
            <div id="Footer"></div>
        </div>
        <div class="col-sm-4" style="background:url('../../Content/Images/test/862478.jpg'); background-size:cover; background-position:center">
            <div id="Header"><h3>Header</h3></div>
            <p>auto: Allows the browser to determine whether justification is better handled as inter-word or inter-character. This can be helpful in multi-lingual scenarios where the content language is unknown until rendered, allowing the browser user agent to choose accordingly based on which method better fits the language context.</p>
            <div id="Footer"></div>
        </div>
        <div class="col-sm-4" style="background:url('../../Content/Images/test/mercy_overwatch_fan_art.jpg'); background-size:cover; background-position:center">
            <div id="Header"><h3>Header</h3></div>
            <p>auto: Allows the browser to determine whether justification is better handled as inter-word or inter-character. This can be helpful in multi-lingual scenarios where the content language is unknown until rendered, allowing the browser user agent to choose accordingly based on which method better fits the language context.</p>
            <div id="Footer"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4" style="background:url('../../Content/Images/overwatch_tracer_blizzard_entertainment_109504_2560x1080.jpg'); background-size:cover; background-position:center">
            <div id="Header"><h3>Header</h3></div>
            <p>auto: Allows the browser to determine whether justification is better handled as inter-word or inter-character. This can be helpful in multi-lingual scenarios where the content language is unknown until rendered, allowing the browser user agent to choose accordingly based on which method better fits the language context.</p>
            <div id="Footer"></div>
        </div>
        <div class="col-sm-4" style="background:url('../../Content/Images/overwatch_tracer_blizzard_entertainment_109504_2560x1080.jpg'); background-size:cover; background-position:center">
            <div id="Header"><h3>Header</h3></div>
            <p>auto: Allows the browser to determine whether justification is better handled as inter-word or inter-character. This can be helpful in multi-lingual scenarios where the content language is unknown until rendered, allowing the browser user agent to choose accordingly based on which method better fits the language context.</p>
            <div id="Footer"></div>
        </div>
        <div class="col-sm-4" style="background:url('../../Content/Images/overwatch_tracer_blizzard_entertainment_109504_2560x1080.jpg'); background-size:cover; background-position:center">
            <div id="Header"><h3>Header</h3></div>
            <p>auto: Allows the browser to determine whether justification is better handled as inter-word or inter-character. This can be helpful in multi-lingual scenarios where the content language is unknown until rendered, allowing the browser user agent to choose accordingly based on which method better fits the language context.</p>
            <div id="Footer"></div>
        </div>
    </div>
</body>
