@model IEnumerable<MyReviewProject.Models.Category>

@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Категории:</h3>

    <table>
        @foreach (MyReviewProject.Models.Category c in Model)
        {
            <tr>
               <td><p>@c.Name</p></td> 
            </tr>
        }
    </table>
</div>