@using MyReviewProject.Models

@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Категории:</h3>

    <table>
        @foreach (ApplicationUser u in ViewBag.Users)
        {
            <tr>
               <td><p>@u.UserName</p></td> 
            </tr>
        }
    </table>
</div>