@model MyReviewProject.Models.IndexReviewViewModel


<head>
    @{ViewBag.Title = "Главная";}
    @Styles.Render("~/Content/Content.css")
</head>
<body>
    @foreach (var review in Model.Reviews)
    {
        <div class="row">
            <a href="" class="col-sm-4" style="background:url(); background-size:cover; background-position:center">
                <div id="Header"><h3>@review.Like</h3></div>
                <p>@review.Content</p>
                <div id="Footer">@review.</div>
            </a>
        </div>
    }

    <div>
        <a href="">
            <div></div>
            <p></p>
            <div></div>
        </a>
    </div>
</body>
