
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MyReviewProject.Models.EditModel

@{
    ViewBag.Title = "Edit";
}

<h2>Редактировать данные профиля</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        <div>
            <p>Login: @Html.EditorFor(model => model.UserName)</p>
        </div>

        <div>
            <div>
                <input type="submit" value="Сохранить" />
            </div>
        </div>
    </div>
}