@model IEnumerable<MyReviewProject.Models.Review>

@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

</head>
<body>
    @*<div>
        <h3>Отзывы</h3>
        <p>@ViewBag.ReviewId</p>
        <table>
            <tr>
                <td><p>Автор</p></td>
                <td><p>Дата</p></td>
                <td><p>Отзыв</p></td>
            </tr>
            @foreach (MyReviewProject.Models.Review r in Model)
            {
            <tr>
                <td><p></p></td>
                <td><p>@r.DateCreate</p></td>
                <td><p>@r.Content</p></td>
            </tr>
            }
        </table>
        
    </div>*@


</body>