@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-cat {
  list-style: none;
  margin: 0 5px;
  padding: 25px 0 15px;
  text-align: center;
  background: white;
  border: 5px solid #f1f1f1;
}

.menu-cat li {display: inline-block;}
.menu-cat li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-cat li:last-child:after {content: none;}
.menu-cat a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-cat a, .menu-cat a:visited {color: #9d999d;}
.menu-cat a.current, .menu-cat a:hover{color: #feb386;}
.menu-cat a:before,
.menu-cat a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-cat a:hover:before, .menu-cat .current:before {left: 0;}
.menu-cat a:hover:after, .menu-cat .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-cat {padding-top: 0;}
.menu-cat li {display: block;}
.menu-cat li:after {content: none;}
.menu-cat a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
.menu-cat-smaller {
    padding-top:0;
    float: right;
}

.menu-cat-smaller li {
        display: block;
        border: 5px;
        font-size: 50%;
        padding-bottom: 5px;
    }
.menu-cat-smaller li:after {
        content: none;
        display: inline-block;
        vertical-align: top;
        
    }

.menu-cat-smaller a {
        position: relative;
        padding-bottom: 10px;
        font-size: 10px;
    }