:root {
    --lightgray: #ccc6c2;
    --lightgrayblue: #a2aab0;
    --bordercolor: #4c5970;
    --almostwhite: #ebeced;
    --darkgray: #3d3d3a;
    --hovertext: #feb386;
    --text: #9d999d;
    --testborder: #292c44;
    --nocolor:;
    --brhardtonotice: #4d4d48;
    --brorange: #feb386;
}
